.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

  .commit-cards {
    margin-top: 20px;
  }
  
  .commit-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .commit-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    width: 300px; /* Adjust the width as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  }

  .chart-container {
    margin-top: 20px;
  }

.form-cointainer{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 25%;
}  

.submit{
  text-align: center;
}

.heading{
  text-align: center;
  justify-content: center;
  padding-bottom: 150px;
  color: rgb(31, 64, 53);
}

.userlogin-card{
  padding-top: 5em;
}
.card-header{
  padding-bottom: 3em;
  text-align: center;
  flex: auto;
}

.table{
  width: 40%;
  text-align: center;
  justify-content: center;
  margin-left: 25em;
}
