.app-container {
  margin: 0;
  height: 100vh;
}
.routes-container{
  margin-left: 0;
  padding-left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .user-table th, .user-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }

/* Add this to your styles or a separate CSS file */
.commits-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.commits {
  text-align: center;
  width: 100%;
  align-items: center;
}

.commit-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.commit-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Styles for the table layout */
.commit-table {
  width: 85%;
  border-collapse: collapse;
  margin-top: 20px;
}

.commit-table th, .commit-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  background-color: rgb(222, 255, 235);
}

.commit-table th {
  background-color: #173d1a;
  color: antiquewhite;
}



  /* .commit-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .commit-cards {
    margin-top: 20px;
  }
  
  .commit-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .commit-card {
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
  } */

  body {
    margin: 0;
    padding: 0;
}

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 2rem;
    color:aliceblue;
    background: linear-gradient(to bottom, #006400, #000000);
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 2rem;
    margin-left: 8em;
}

.submit{
  align-items: center;
  text-align: center;
}

.heading h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.heading h4 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.submit {
    margin-top: 1rem;
}

.userlogin-card{
  text-align: center;
  width: 100%;
}

.card-header{
  margin-top: 15em;
  padding-bottom: 3em;
  text-align: center;
  justify-content: center;
  margin-left: 33.33em;
}

.table{
  width: 40%;
  text-align: center;
  justify-content: center;
  margin-left: 33.66em;
}

.navbar{
  margin: 0;
  width: 100%;
}

.chart-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.center {
  width: 100%;
  max-width: 800px; /* Set your desired max-width */
}

.graph-container{
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.contributors{
  margin-top: 5em;
  margin-left: 5em;
}